*{
    padding: 0;
    margin: 0;
}

.addText{
    padding-left: 15px;
}

.buttonSubmit{
    padding-right: 15px;
}
.buttonSubmit>a{
    text-decoration: none;
    color: black;
}
.containerTodoListItem{
    padding-left: 10px;
    padding-top: 45px;
}
.button{
    border: none;
    background-color: #FF2400;
    height: 50px;
    width: 50px;
}
.button-round{
    border-radius: 60px;
}
.itemList{
    width: auto;
    display: flex;
    padding-left: 20px;
}
